body {
  margin: 0;
  font-family: 'Avenir Next', serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color: #ffffff;
}

/** Color Palette **/
.color_palette {
  color: #e0a800;
  color: #A38A00;
  color: #856404;

}


/*** Text ***/
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #FFFFFF;
}
.text-primary{
  color: #FFFFFF;
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
  margin-top:0;margin-bottom:.5rem;font-family:inherit;font-weight:700;line-height:1.2;color:inherit
}
h1,.h1 {
  font-size:calc(1.375rem + 1.5vw)
}
@media (min-width: 1200px) {
  h1,.h1{
    font-size:2.5rem
  }
}
h2,.h2{font-size:calc(1.325rem + .9vw)
}
@media (min-width: 1200px){
  h2,.h2{font-size:2rem}}
h3,.h3{
  font-size:calc(1.3rem + .6vw)
}
@media (min-width: 1200px){
  h3,.h3{font-size:1.75rem}
}
h4,.h4{
  font-size:calc(1.275rem + .3vw)
}
@media (min-width: 1200px){
  h4,.h4{font-size:1.5rem}
}
h5,.h5{
  font-size:1.25rem
}
h6,.h6{
  font-size:1rem
}
p{
  margin-top:0;
  margin-bottom:1rem;
  color: #FFFFFF;
}
a {
  color: #FFFFFF;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.header_text{
  height: 100px;
  color: white;
  align-content: center;
  border-radius: 20px;
  background: #000000;
  box-shadow:  -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/*** Layout ***/

.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}


/*** Back To Top ***/
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
  background-color:  #A38A00;
  border: none;
}

.back-to-top:hover{
  background-color:  #856404;
  border: #856404;
  border-radius: 50%;
  border-color: #856404 transparent;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  margin-top: 5px;
  padding: 25px 0;
  color: #FFFFFF;
  background-color:#A38A00;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  transition: .5s ease;
}

.btn-primary:hover,
.btn-primary:active{
  color:#FFFFFF;
  background-color:#e0a800;
  transition: .5s ease;
}

.btn-check:focus+.btn-primary,.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,.btn-primary:active,.btn-primary.active,
.show>.btn-primary.dropdown-toggle{
  color:#fff;
  background-color:#e0a800;
  border-color:#A38A00
}

.btn-check:checked+.btn-primary:focus,.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,.btn-primary.active:focus,.show>.btn-primary.dropdown-toggle:focus{
  box-shadow:0 0 0 .25rem #856404
}

.btn-primary:disabled,.btn-primary.disabled{
  color:#fff;
  background-color:#e0a800;
  border-color:#A38A00}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/************/
/** Navbar **/
/************/
.navbar{
  background-color: #000000;
}

.navbar-toggler-icon{
  background-image: url(../images/navbar_togler.png);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar .navbar-nav{
  background-color: #000000;
}

.navbar .navbar-nav .nav-link {
  margin: 5px 30px 5px 30px;
  padding: 25px 0;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: #A38A00;
}

.navbar .navbar-nav .nav-btn{
  background-color: #A38A00;
  height: inherit;
}

.navbar .navbar-brand,
.navbar a.btn {
  align-items: center;
}

.navbar.sticky-top {
  top: -100px;
  transition: .5s;
}

.dropdown-menu{
  position:absolute;
  z-index:1000;
  display:none;
  min-width:10rem;
  padding:.5rem 0;
  margin: 0;
  font-size:1rem;
  color:#FFFFFF;
  text-align:left;
  list-style:none;
  background-color:#000000;
  background-clip:padding-box;
  border-top:1px solid #343a40;
  border-bottom:1px solid #343a40;
  border-radius:10px;
}

.dropdown-item{
  display:block;
  width:100%;
  padding:.25rem 1rem;
  clear:both;
  font-weight:400;
  color:#FFFFFF;
  text-align:inherit;
  white-space:nowrap;
  background-color:transparent;
  border:0
}

.dropdown-item:hover, .dropdown-item:focus{
  color: #A38A00;
  background-color:transparent;
}

.dropdown-item.active,.dropdown-item:active{
  color:#A38A00;
  text-decoration:none;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link  {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar .navbar-nav {
    border-top: 1px solid #EEEEEE;
  }

  .dropdown-item{
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: .5s;
    opacity: 1;
  }
}
/****************/
/** Navbar End **/
/****************/

/************/
/** Footer **/
/************/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #FFFFFF;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: #FFFFFF;
  background: #e0a800;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: #e0a800;
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .copyright a:hover {
  color: #e0a800;
}
/****************/
/** Footer End **/
/****************/

/*******************/
/** Home Section  **/
/*******************/
.home_header {
  background-image: url(../images/home_header.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.home_header .layout_padding {
  padding-top: 80px;
  padding-bottom: 100px;
}

.home_header h1{
  font-size: 3.5rem;
  color: white;
  text-align: center;
  top: 5%;
}
/***********************/
/** End Home Section  **/
/***********************/

/*********************/
/** Slider Section  **/
/*********************/
.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .box {
  margin: 125px 0;
}

.slider_section .detail-box {
  text-align: center;
}

.slider_section .detail-box h1,
.slider_section .detail-box h2,
.slider_section .detail-box h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.slider_section .detail-box h2 {
  font-size: 2.5rem;
}

.slider_section .detail-box h1 {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: .5rem;
}

.slider_section .detail-box p {
  margin-top: 25px;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: transparent;
  border: 1.5px solid #ffffff;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  text-transform: uppercase;
  margin-top: 35px;
}

.slider_section .detail-box a:hover {
  background-color: #ffffff;
  color: #000000;
}

.slider_section #carouselExampleIndicators .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section #carouselExampleIndicators .carousel-indicators li {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 100%;
  opacity: 1;
}

.slider_section #carouselExampleIndicators .carousel-indicators li.active {
  border: 4px solid #ffffff;
}
/************************/
/** Slider Section End **/
/************************/

/****************************/
/** Services Index Section **/
/****************************/
.services_index_section{
  z-index: 2;
  background-color: #e0a800;
  background-image: linear-gradient(90deg, #e0a800 0%, #F76B1C 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: skewY(3deg);
  position: relative;
  top: -50px;
  height: 90vh;
}

.services_index_section .anti_skew{
  transform: skewY(-3deg);
}

@media (max-width: 991.98px) {
  .services_index_section{
    height: 170vh;
  }
}

@media (max-width: 766px) {
  .services_index_section{
    height: 270vh;
  }
}
/********************************/
/** Services Index Section End **/
/********************************/


/***************************/
/** Gallery Index Section **/
/***************************/
.gallery_index_section{
  background-color: black;
  z-index: 1;
  position: relative;
  top: -100px;
  height: 800px;
}
.gallery_index_section .anti_skew{
  padding-top: 120px;
}

.gallery_index_section .owl-carousel .item{
  margin: 3px;
  display: block;
  width: 100%;
  height: 250px;
}

.gallery_index_section .owl-dot{
  position: absolute;
  width: 350px;
  top: 330px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  opacity: 1;
  transition: .5s;
  z-index: 1;
}

.gallery_index_section .owl-nav {
  position: absolute;
  width: 350px;
  top: 330px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: .5s;
  z-index: 1;
}

.gallery_index_section:hover .owl-nav {
  width: 300px;
  opacity: 1;
}

.gallery_index_section .owl-nav .owl-prev,
.gallery_index_section .owl-nav .owl-next {
  position: relative;
  color: white;
  font-size: 45px;
  transition: .5s;
}

.gallery_index_section .owl-nav .owl-prev:hover,
.gallery_index_section .owl-nav .owl-next:hover {
  color: #856404;
}

/*******************************/
/** Gallery Index Section End **/
/*******************************/

/***************************/
/** Reviews Index Section **/
/***************************/
.reviews_index_section {
  z-index: 2;
  position: relative;
  top: -150px;
  background-color: #e0a800;
  background-image: linear-gradient(90deg, #e0a800 0%, #F76B1C 100%);
  width: 150%;
  left: -25%;
  height:  600px;
  border-radius: 50% 50% 50% 50% / 20% 20% 0 0 ;
}

.reviews_carousel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  /*background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);*/
  z-index: 1;
}

.reviews_carousel::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  /*background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);*/
  z-index: 1;
}

@media (min-width: 768px) {
  .reviews_carousel::before,
  .reviews_carousel::after {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .reviews_carousel::before,
  .reviews_carousel::after {
    width: 300px;
  }
}

/* Left Item */
.reviews_carousel .owl-item .reviews_item img {
  mask-image: linear-gradient(90deg, transparent 50%, black 100%);
}
.reviews_carousel .owl-item .reviews_text {
  background: linear-gradient(90deg, transparent 50%, black 105%);
  color: purple;
  transform: scale(.8);
  transition: .5s;
}
.reviews_carousel .owl-item .reviews_text h5{
  background: white;
  background: linear-gradient(to right, transparent 50%, white 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reviews_carousel .owl-item .reviews_text p{
  background: white;
  background: linear-gradient(to right, transparent 50%, white 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Right Item */
.reviews_carousel .owl-item.active .reviews_item img {
  mask-image: linear-gradient(90deg, black 0%, transparent 50%);
}
.reviews_carousel .owl-item.active .reviews_text {
  background: linear-gradient(90deg, black 0%, transparent 50%);
  transform: scale(.8);
  transition: .5s;
}
.reviews_carousel .owl-item.active .reviews_text h5{
  background: white;
  background: linear-gradient(to right, white 0%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reviews_carousel .owl-item.active .reviews_text p{
  background: white;
  background: linear-gradient(to right, white 0%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Center Item */
.reviews_carousel .owl-item.active.center .reviews_item img {
  mask-image: linear-gradient(90deg, black 0%, black 100%);
}
.reviews_carousel .owl-item.active.center .reviews_text {
  background: black;
  transform: scale(1);
}
.reviews_carousel .owl-item.active.center .reviews_text h5{
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reviews_carousel .owl-item.active.center .reviews_text p{
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviews_carousel .owl-item .reviews_text *,
.reviews_carousel .owl-item .reviews_item img {
  transition: .5s;
}

.reviews_carousel .owl-nav {
  position: absolute;
  width: 350px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: .5s;
  z-index: 1;
}

.reviews_carousel:hover .owl-nav {
  width: 300px;
  opacity: 1;
}

.reviews_carousel .owl-nav .owl-prev,
.reviews_carousel .owl-nav .owl-next {
  position: relative;
  color: black;
  font-size: 45px;
  transition: .5s;
}

.reviews_carousel .owl-nav .owl-prev:hover,
.reviews_carousel .owl-nav .owl-next:hover {
  color: var(--dark);
}
/*******************************/
/** Reviews Index Section End **/
/*******************************/

/***************************/
/** Contact Index Section **/
/***************************/
.contact_index_section {
  background-color: black;
  top: -200px;
  position: relative;
}

.contact_index_section .form_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width:  640px;
  height: 800px;
}
/*******************************/
/** Contact Index Section End **/
/*******************************/

/*****************************/
/** Quotation Index Section **/
/*****************************/
.quotation_index_section {
  z-index: 1;
  position: relative;
  top: -200px;
  background-color: #e0a800;
  background-image: linear-gradient(90deg, #e0a800 0%, #F76B1C 100%);
  height: 550px;
}

.quotation_index_section .layout{
  position: relative;
  top: 0;
  background-color: #e0a800;
  background-image: linear-gradient(90deg, #e0a800 0%, #F76B1C 100%);
  height: 800px;
}
/*********************************/
/** Quotation Index Section End **/
/*********************************/















/** Partners Section **/
.partners_section {
  background-image: url(../images/background_02.png);
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}

.team-item{
  background-color: #000000;
}

.team-item img {
  position: relative;
  top: 0;
  transition: .5s;
}

.team-item:hover img {
  top: -30px;
}

.team-item .team-text {
  position: relative;
  height: 100px;
  transition: .5s;
  background-color: #000000;
}

.team-item:hover .team-text {
  margin-top: -60px;
  height: 160px;
}

.team-item .team-text .team-social {
  opacity: 0;
  transition: .5s;
}

.team-item:hover .team-text .team-social {
  opacity: 1;
}

.team-item .team-social .btn {
  display: inline-flex;
  color: #e0a800;
  background: #FFFFFF;
  border-radius: 40px;
}

.team-item .team-social .btn:hover {
  color: #FFFFFF;
  background: #e0a800;
}

/** End Partners Section **/

/** Reviews Section  **/

.reviews_section{
  width: 100%;
  height: 830px;
  overflow: hidden;
  background-color: #ffffff;
}

.reviews_section .iframe{
  width: 100%;
  height: 1100px;
  position: relative;
  left: 0;
  top: -100px;
}

@media (max-width: 810px) {
  .reviews_section{
    height: 920px;
  }
  .reviews_section .iframe{
    top: -130px;
  }
}

@media (max-width: 700px) {
  .reviews_section{
    height: 320px;
  }
  .reviews_section .iframe{
    top: -100px;
  }
}

/** End Reviews Section  **/

/** Services Section  **/

.services_section{
  font-family: 'Avenir Next', serif;
  color: #000000;
}

.services_section p{
  color:#000000;
  text-align: justify;
  font-size: 1.2rem;
}

.services_section .wedding_section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /** background-color: #ffffff; **/
  background-image: url(../images_services/wedding_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.services_section .dj_section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /** background-color: #ffffff; **/
  background-image: url(../images_services/dj_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.services_section .musicians_section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /** background-color: #ffffff; **/
  background-image: url(../images_services/musicians_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.services_section .box {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.services_section .img_box_1 {
  margin: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services_section .img_box_1 img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.services_section .img_box_2 {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.services_section .img_box_2 img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;

}

.services_section .box h1 {
  margin: 25px 15px 25px 15px;
  font-size: 1.5em;
  font-weight: bold;
}

.services_section .box p {
  font-size: 1.5em;
  margin: 30px 40px 40px 40px;
  text-align: justify;
}

/** Services Section End **/

/*** Service ***/
.service_header{
  height:  914px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(../images/background_01.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .service_header{
    height: 170vh;
  }
}

@media (max-width: 766px) {
  .service_header{
    height: 270vh;
  }
}

.service-item {
  transition: .5s;
  background-color: #000000;
  box-shadow:  -5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.service-item:hover {
  margin-top: -5px;
  box-shadow:  -5px 5px 10px 0px rgba(0, 0, 0, 0.6);
}

.service-item .btn {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  color: #FFFFFF;
  background: #e0a800;
  border-radius: 40px;
  white-space: nowrap;
  overflow: hidden;
  transition: .5s;
}

.service-item:hover .btn {
  width: 140px;
}

/** Gallery Section  **/

.gallery_1 * {
  font-family: Nunito, sans-serif;
}

.gallery_1 .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.gallery_1 img {
  object-fit: cover;
}

.gallery_1 .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.gallery_1 .responsive-container-block.bigContainer {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.gallery_1 .responsive-container-block.Container {
  max-width: 1320px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery_1 .text-blk.heading {
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
  color: #242424;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.gallery_1 .text-blk.subHeading {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  max-width: 750px;
  color: #a3a3a3;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.gallery_1 .responsive-container-block.imgContainer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  min-height: auto;
  height: 720px;
  position: relative;
}

.gallery_1 .overlay {
  position: fixed;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(71, 69, 69, 0.7);
  height: 100%;
  width: 100%;
  max-height: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.gallery_1 .overlay-inner {
  top: 50%;
  right: 0px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: white;
  max-width: 700px;
  width: 100%;
  padding-top: 35px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 1;
}

.gallery_1 .close {
  position: absolute;
  top: 9px;
  right: 15px;
  background-image: none;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  color: #474545;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.gallery_1 .overlay-inner img {
  height: auto;
  width: 100%;
  transform: none;
}

.gallery_1 .close:hover {
  cursor: pointer;
}

.gallery_1 .project {
  position: absolute;
  width: 39.8%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.gallery_1 .btn-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.gallery_1 .project:hover .btn-box {
  display: block;
}

.gallery_1 .btn {
  cursor: pointer;
}

.gallery_1 .smallImage {
  z-index: 0;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 1s ease;
  border: 5px solid #ffffff;

}

.gallery_1 .smallImage:hover {
  z-index: 1;
  position: relative;
  opacity: 1;
  border-radius: 15px;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
}

.gallery_1 .project.project1 {
  width: 39.8%;
  height: 66.67%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

}

.gallery_1 .project.project2 {
  bottom: 0px;
  top: auto;
  right: auto;
  width: 59.75%;
  height: 32.6%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.gallery_1 .project.project3 {
  left: 40.2%;
  right: auto;
  bottom: auto;
  width: 19.4%;
  height: 32.98%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.gallery_1 .project.project4 {
  left: 40.2%;
  top: 33.7%;
  width: 19.5%;
  height: 32.98%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.gallery_1 .project.project5 {
  right: 0px;
  left: auto;
  bottom: auto;
  width: 39.8%;
  height: 32.6%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.gallery_1 .project.project6 {
  bottom: 0px;
  top: auto;
  left: auto;
  right: 0px;
  width: 39.8%;
  height: 66.67%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

@media (max-width: 1024px) {
  .gallery_1 .responsive-container-block.imgContainer {
    height: 600px;
  }

  .gallery_1 .text-blk.subHeading {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: 768px) {
  .gallery_1 .project.project5 {
    top: 520px;
    width: 100%;
    left: 0px;
    right: auto;
    bottom: auto;
    height: 200px;
  }

  .gallery_1 .responsive-container-block.imgContainer {
    height: 930px;
  }

  .gallery_1 .project.project1 {
    width: 64%;
    height: 300px;
  }

  .gallery_1 .project.project3 {
    left: auto;
    width: 35%;
    height: 145px;
    right: 0px;
  }

  .gallery_1 .project.project4 {
    left: auto;
    width: 35%;
    height: 145px;
    top: 155px;
    right: 0px;
  }

  .gallery_1 .project.project6 {
    height: 200px;
    width: 100%;
  }

  .gallery_1 .project.project2 {
    width: 100%;
    top: 310px;
    height: 200px;
  }

  .gallery_1 .project {
    width: 100%;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .gallery_1 .overlay-inner {
    width: 90%;
  }

  .gallery_1 .text-blk.subHeading {
    line-height: 25px;
    font-size: 17px;
    max-width: 600px;
  }

  .gallery_1 .text-blk.heading {
    font-size: 30px;
    line-height: 40px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .gallery_1 .responsive-container-block.imgContainer {
    height: 890px;
  }

  .gallery_1 .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .gallery_1 .text-blk.heading {
    font-size: 30px;
    line-height: 35px;
  }

  .gallery_1 .text-blk.subHeading {
    font-size: 16px;
    line-height: 22px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .gallery_1 .project.project1 {
    height: 250px;
  }

  .gallery_1 .project.project3 {
    height: 123px;
  }

  .gallery_1 .project.project4 {
    height: 123px;
    top: 127px;
  }

  .gallery_1 .project.project2 {
    top: 260px;
  }

  .gallery_1 .project.project5 {
    top: 470px;
  }

  .gallery_1 .project.project6 {
    top: 680px;
  }
}

/** End Gallery Section  **/

/** Quotation Section  **/

.form_container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 70%;
  height: 87%

}

@media (max-width: 992px) {
  .form_container{
    width: 80%;

  }
}

@media (max-width: 700px) {
  .form_container {
    width: 95%;

  }
}

/** End Quotation Section  **/

/** footer Section  **/

.footer_section {
  background-color: #000000;
  padding: 20px;
  font-weight: 500;
}

.footer_section p {
  color: #292929;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #292929;
}

/** End footer Section  **/


/*# sourceMappingURL=style.css.map **/
